canvas {
	border: solid 1px black;
	float: left;
	/*
	 width: 986px;
	 height: 768px;
	 */
}

#menu {
	border: solid 1px black;
	position:absolute;
	width: 200px;
	height: 768px;
	top: 8px;
	left: 1420px;
	text-align: center;
}